/*loganalyze success*/
.la-success {
	/*green*/
	background-color: #00FF00;
}
/*loganalyze faield*/
.la-failed {
	/*red*/
	background-color: #FF0000;

}
.la-waiting {

	/*blue*/
	background-color: #886677;
}
.la-processing {
	/*yellow*/
	background-color: yellow;
}

.la-rpt-row {
	border: solid;
}

.table-responsive {
	overflow-x: initial;
}